.applicant-page-applicant {
  color: black;
  background-color: #FCFCFC;

}
.applicant-title {
  padding-top: 120px;
  margin-left: 100px;
  margin-top: 0px !important;
}
.applicant-text-applicant {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 14px !important;
  width: 450px;
  color: black;
}
.btn-justified {
  margin-left: 230px;
  margin-top: 40px;
}
