.dashboard {
  padding: 70px 160px 0 160px;
  background-color: white;
  width: 100%;
}
.dashboard-container-pop {
  background-color: #FCFCFC;
  box-shadow: 2px 2px 2px 2px #D8D8D7;
  padding: 40px 60px 40px 60px;
  border-radius: 2px;
}
.dashboard-height {
  padding-bottom: 50px;
  background-color: #CAD9E3;
}
.profile {
  display: flex;
  margin-bottom: 30px;
}
.avatar {
  flex-basis: 20%;
  text-align: center;
}
.tab-text {
  color: #2D2C28 !important;
  &:hover {
    color: #2D2C28 !important;
  }
}
.messaging-btn {
  background-color: #618AB2 !important;
}

.new_event-btn {
   background-color: #FACF0F !important;
 }
.avatar-large {
  width: 150px;
  border-radius: 50%;
  margin-top: 20px;
  border: 0.5px solid rgb(170, 170, 170);
}
.username {
  font-size: 28px;
  font-weight: 300;
}
.user-email {
  font-size: 14px;
  font-weight: 300;
  font-family: "Raleway", "Helvetica", "sans-serif" !important;
}
.bio {
  font-size: 14px;
  font-weight: bold;
  font-family: "Raleway", "Helvetica", "sans-serif" !important;
}
.stats {
  display: flex;
  font-size: 14px;
  font-weight: bold;
}
.stat {
  margin-right: 10px;
  font-size: 16px;
  font-family: "Raleway", "Helvetica", "sans-serif" !important;
}
.stat-text {
  margin-right: 20px;
  margin-top: 3px;
  font-size: 12px;
  font-weight: 300;
  font-family: "Raleway", "Helvetica", "sans-serif" !important;
}
.text-center {
  display: inline-block;
  text-decoration: none;
  color: #2D2C28;
}
.text-center {
  display: inline-block;
  color: #2D2C28;
  font-size: 14px;
  &:hover {
    text-decoration: none;
    color: #2D2C28;
  }
}
.width {
  flex-basis: 80%;
  margin-left: 40px;
}
.width h2 {
  color: #2D2C28 !important;
  }
.width p {
  color: #2D2C28 !important;
}
.tabs {
  display: flex;
  width: 85%;
  justify-content: space-between;
  padding: 20px 0 0 0;
}
.tab-selected {
  flex-basis: 42%;
  border-bottom: 3px solid black;
  font-size: 16px;
  margin-bottom: 0px;
  padding: 8px 0
}
.tab {
  flex-basis: 55%;
  font-size: 16px;
  margin-bottom: 0px;
  color: grey;
  padding: 8px 0;
  }
.wrapper {
  background-color: rgb(230, 230, 230);
}
.dashboard-btns {
  display: flex;
  justify-content: center;
}
.dashboard-btn {
 margin: 20px;
}
.homepage-h3 {
  font-size: 24px;
}
.lg-number {
  font-size: 18px !important;
}
.tab-flexbox {
  display: flex;
  justify-content: space-between;
}


/**
 * Responsive Bootstrap Tabs by @hayatbiralem
 * 15 May 2015
 */

@mixin ellipsis(){
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    width: 100%;
}

@mixin icon-styles(){
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin transform($transform){
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
}

@media screen and (max-width: 479px) {
  .nav-tabs-responsive {
    > li {
      display: none;
      width: 23%;
      > a {
        @include ellipsis();
        width: 100%;
        text-align: center;
        vertical-align: top;
      }
      &.active {
        width: 54%;
        &:first-child {
          margin-left: 23%;
        }
      }
      &.active,
      &.prev,
      &.next {
        display: block;
      }
      &.prev,
      &.next {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
      }
      &.next > a,
      &.prev > a {
        -webkit-transition: none;
        transition: none;
        .text {
          display: none;
        }
        &:after,
        &:after {
          @include icon-styles();
        }
      }
      &.prev > a:after {
        content: "\e079";
      }
      &.next > a:after {
        content: "\e080";
      }
      &.dropdown {
        > a > .caret {
          display: none;
        }
        > a:after {
          content: "\e114";
        }
        &.active > a {
          &:after {
            display: none;
          }
          > .caret {
            display: inline-block;
          }
        }

        .dropdown-menu {
          &.pull-xs-left {
            left: 0;
            right: auto;
          }
          &.pull-xs-center {
            right: auto;
            left: 50%;
            @include transform(translateX(-50%));
          }
          &.pull-xs-right {
            left: auto;
            right: 0;
          }
        }
      }
    }
  }
}



/**
 * Demo Styles
 */

.wrapper {
  padding: 15px 0;
}

.bs-example-tabs .nav-tabs {
  margin-bottom: 15px;
}

@media (max-width: 479px) {
  #narrow-browser-alert {
    display: none;
  }
}
