#homepage {
  background-image: image-url('background_bridge.png');
  background-size: 100%;
  color: white;
  height: 100vh;
  width: 100%;
 }
 #title {
  margin-top: 50px;
  margin-left: 100px;
 }
.homepage {
  display: flex;
  margin-top: 30px;
}
.applicant {
  margin-left: 120px;
}
.lender {
  margin-left: 40px;
}
#homepage-tagline{
  margin-top: 220px;
  margin-left: 100px;
  font-size: 24px !important;
  width: 450px;
}
.btn-homepage {
  font-size: 14px !important;
  height: 40px !important;
  width: 160px !important;
  color: white;
  background-color: #F7DD72 !important;
  text-decoration: none;
  border: none;
}
a {
  text-decoration: none !important;
  color: white !important;
}
