#homepage {
  position: relative;
  background-image: image-url('bridge-homepage.png');
  background-position: center;
  color: white;
  width: 100vw;
  height: 3373px;
  background-size: 1200px 3373px;
  background-repeat: no-repeat;
 }
 #homepage a {
  text-decoration: none !important;
  color: white !important;
}
.title {
  margin-top: 30px;
  margin-left: 100px;
  width: 350px;
  font-size: 20px;
  color: #2D2C28 !important;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 600;
 }
.homepage {
  display: flex;
}
.applicant {
  margin-left: 100px;
}
.lender {
  margin-left: 20px;
}
.homepage-tagline{
  margin-left: 100px;
  width: 800px;
  margin-top: 220px;
  color: #335F7A !important;
  font-family: 'Assistant', sans-serif !important;
  font-size: 64px;
  font-weight: 700;
}
.btn-homepage {
  font-size: 16px !important;
  height: 60px !important;
  width: 150px !important;
  color: white;
  background-color: #FACF0F !important;
  text-decoration: none;
  border: none;
  text-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  font-family: 'Assistant', sans-serif !important;
  border-radius: 30px;
  font-weight: bold;
}
.sign-out-btn {
  position: absolute;
  bottom: 10px;
  font-family: 'Assistant', sans-serif !important;
}
.about {
  font-size: 14px;
}
.gap-title {
  margin-top: 300px;
}
.gap-about {
  margin-top: 100px;
}
