.banner {
  display: flex;
  align-items: center;
  height: 100vh;
  background-position: right;
  position: relative;
  .tagline {
    width: 450px;
  }
  .home-svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 55vw;
  }
}
.footer-png {
  bottom: 0;
  right: 0;
  margin: 0;
}
#homepage {
  position: relative;
  background-image: image-url('bridge-homepage.png');
  background-position: center;
  color: white;
  width: 100vw;
  height: calc(2.28 * 100vw);
  background-repeat: no-repeat;
 }
 #homepage a {
  text-decoration: none !important;
  color: white !important;
}
.title {
  margin-top: 30px;
  width: 350px;
  font-size: 20px;
  color: #2D2C28 !important;
  font-weight: 600;
 }
.homepage {
  display: flex;
}
.applicant {
  margin-left: 100px;
}
.lender {
  margin-left: 20px;
}
.homepage-tagline{
  margin-top: 100px;
  color: #335F7A !important;
  font-size: 64px;
  font-weight: 700;
}
.btn-homepage {
  font-size: 16px !important;
  width: 150px !important;
  color: white;
  background-color: #FACF0F !important;
  text-decoration: none;
  border: none;
  font-family: 'Assistant', sans-serif !important;
  border-radius: 24px;
  text-align: center;
  padding: 8px;
}

.btn-homepage a{
  text-align: center;

}
.sign-out-btn {
  position: absolute;
  bottom: 10px;
  font-family: 'Assistant', sans-serif !important;
}
.about {
  font-size: 14px;
}
.gap-title {
  margin-top: 200px;
}
.gap-about {
  margin-top: 30px;
  font-weight: 700;
}
.numbers {
  font-size: 20px !important;
  height: 46px;
  width: 46px;
  color: #335F7A;
  border: 1.5px solid #335F7A;
  font-family: 'Assistant', sans-serif !important;
  border-radius: 23px;
  text-align: center;
  padding-top: 7px;
  margin-top: 50px;
}
#details-box {
  display: flex;
  border-top: 1px solid #979797;
  margin: 200px 00px 0 100px;
}
#lending {
  flex-basis: 35%;
  padding: 30px 0 30px 20px;
  border-bottom: 1px solid #979797;
  font-size: 20px;
  color: #2D2C28 !important;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 700;
  margin-bottom: 0 !important;
}
.bootcamps {
  padding: 20px 0;
  font-size: 20px;
  color: #2D2C28 !important;
  font-family: 'Assistant', sans-serif !important;
  font-weight: 700;
  margin-bottom: 0 !important;
  text-align: center;
}
#logos-box {
  display: flex;
  border-bottom: 1px solid #979797;
  margin: 0 90px 100px 90px;
}
.support {
  margin-bottom: 0px;
  font-size: 14px;
  color: #2D2C28 !important;
  font-weight: 600;
}
.banks {
  display: flex;
  padding: 0 0px 20px 0px;
  align-items: center;
  justify-content: center;
  min-height: 114px;
}
.credit-cards {
  width: 50px;
  margin: 0 5px;
}
.lewagon-logo {
  width: 113px;
  margin-right: 10px;
}
#thirty {
  margin: 0;
  font-size: 14px !important;
  height: 100px;
  min-width: 100px;
  width: 100px;
  color: #335F7A;
  border: 1.5px solid #335F7A;
  font-family: 'Assistant', sans-serif !important;
  border-radius: 50px;
  text-align: center;
  padding-top: 27px;
  margin-left: 10px;
}
.homepage-row {
  margin-top: 300px;
  margin-bottom: 20px;
}


