.applicant-page {
  background-image: image-url('bridge.png');
  background-size: 100%;
  color: white;
  min-height: calc(100vh - 100px);
  width: 100%;
}
.applicant-title {
  padding-top: 120px;
  margin-left: 100px;
  margin-top: 0px !important;
}
.applicant-text {
  margin-top: 50px;
  margin-left: 100px;
  font-size: 14px !important;
  width: 450px;
  color: white;
}
.btn-justified {
  margin-left: 230px;
  margin-top: 40px;
}
.btn-padding {
  padding-top: 11px;
}
