.center-cv {
  text-align: center;
  padding: 40px;
}
.btn-cv {
  padding-top: 11px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 14px !important;
  height: 40px !important;
  width: 260px !important;
  color: white;
  background-color: #F7DD72 !important;
  text-decoration: none;
  border: none;
  text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.4);
}
