//Progress Bars
.btn-show {
  margin-left: 200px;
  padding-top: 11px;
}
.btn-loan {
  padding-top: 11px;
}
.container-text-align {
  text-align: center;
  z-index: 1000;
}
.show-title  {
  font-size: 32px !important;
  display: inline-block;
  margin-top: 60px;
}
.show-flex {
  display: flex;
  justify-content: space-between;
}
.card-size {
  height: 375px;
  background: none !important;
}
.show-content {
  width: 400px;
  padding-right: 0px;
  background-color: transparent;
}
.show-content-and-dashboard-button {
  margin-top: 13px;
  margin-right: 0px;
}
.show-content p {
  margin-top: 25px;
}
.loan-buttons {
  display: flex;
  justify-content: space-between;
}
.dashboard-button {
  margin-top: 30px;
}
.black-text {
  font-family: 'Assistant', sans-serif;
  text-align: left;
  margin-left: 20px;
  color: #2D2C28;
  margin-top: 15px !important;
  font-size: 16px;
}
.progress-bars-div {
  height: 275px;
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 20px;
}
#myRaisedBar span {
  color: #FCFCFC !important;
}
#myRaisedBar {
  transition: 2s ease all;
  border-radius: 5px;
  height: 75px !important;
}
#myRaisedProgress {
  height: 75px !important;
}
#myRepaidProgress {
  height: 75px !important;
}
#myRepaidBar span {
  color: #FCFCFC !important;
}
#myRepaidBar {
  transition: 2s ease all;
  border-radius: 5px;
  height: 75px !important;
}
.bars-div {
  background-color: rgba(252, 252, 252, 0.6);
}
.bars-margin {
  margin-top: 33px !important;
  margin-bottom: 33px !important;
}
.bars-align-with-card {
  margin-top: 30px !important;
}
#myRepaidBar {
  .title {
  margin-top: 50px !important;
  }
}
#myRaisedBar {
  .title {
  margin-top: 50px !important;
  }
}
.loan-tagline {
  color: #335F7A !important;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  margin-left: 20px;
  padding-top: 20px;
}
.input-box {
  border-radius: 50px !important;
}
.button-loan-dashboard {
  font-size: 16px !important;
  color: #355F79 !important;
  background-color: transparent !important;
  text-decoration: none;
  font-family: 'Assistant', sans-serif !important;
  padding: 8px;
  text-shadow: 0.5px 0.5px grey;
  border: none !important;
  margin-top: 20px;
}
.loan-svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 60vw;
  }
