//Progress Bars
.btn-show {
  margin-left: 200px;
  padding-top: 11px;
}
.btn-loan {
  padding-top: 11px;
}
.show-title  {
  font-size: 32px !important;
  width: 600px;
  margin: 75px 0 30px 100px;
}
.black-text {
  color: #2D2C28;
  margin-top: 15px;
}
.show-flex {
  display: flex;
  justify-content: space-between;
}
.show-text {
  flex-basis: 35%;
}
.show-content {
  width: 600px;
  padding-right: 0px;
}
.show-content-and-dashboard-button {
  margin-top: 30px;
  margin-right: 0px;
}
.show-content p {
  margin-top: 25px;
}
.dashboard-button {
  margin-top: 30px;
}
.fundraising-text {
  margin-left: 100px;
  margin-right: 0px;
  padding-right: 0px;
  width: 450px;
}
.black-text input {
  color: black !important;
}
.progress-bars-div {
  margin-top: 150px;
}
#myRaisedBar span {
  color: #FCFCFC !important;
}
#myRaisedBar {
  transition: 2s ease all;
  border-radius: 5px;
}
#myRepaidBar span {
  color: #FCFCFC !important;
}
#myRepaidBar {
  transition: 2s ease all;
  border-radius: 5px;
}
