.payment-new {
  text-align:center;
}
.payment-background-container {
  background-color: #CAD9E3;
  height: 100%;
  width: 100%;
  position: absolute;
}
.payment-container-pop {
  background-color: #FCFCFC;
  box-shadow: 2px 2px 2px 2px #D8D8D7;
  padding: 40px 60px 40px 60px;
  border-radius: 2px;
  margin: 200px 200px;
}
