<div class="card">
  <h1 class="course-name">Loan applicant name</h1>
  <h2 class="cost">Amount offered</h2>
  <div class="counter">
    <p class="counters">Individuals</p>
    <p class="orange-counter">25%</p>
    <p class="counters">Companies</p>
    <p class="green-counter"></p>
  </div>
</div>

