<div>
  <%= link_to fundraising_event_loan_path(loan.fundraising_event_id, loan.id) do %>
    <div class="card-category">
      <h3>User: <%= loan.fundraising_event.user.name %></h3>
    </div>
    <div class="card-description">
      <h3>Amount Lent: £<%= loan.amount %></h3>
    </div>
    <div class="card-condition">
      <p>Course name: <%= loan.fundraising_event.course %></p>
    <div>
  <% end %>
</div>
