<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="exampleModalLabel" style="font-size:24px;">Warning - you are applying for a financial product</h4>
      </div>
      <div class="modal-header pop-up">
        <p>To be eligible you must:</p>
        <p>- be aged between 18 and 74</p>
        <p>- be living in the UK</p>
        <p>- ave a UK personal bank account</p>
        <p>- have a legitimate financial guarantor who we will contact</p>
      </div>
      <div class="modal-body pop-up">
        <p>This loan has fixed monthly payments via direct debit for the term of the loan. Please think about how your circumstances might change over the term of the loan, and if this might affect your ability to repay.</p>
        <p>If you cannot repay the loan your financial guarantor will be forced to repay the outstanding balance</p>
        <p>The interest rate is fixed at 5% p.a.</p>
        <p>You may repay the loan back in full at any point</p>
        <p>By clicking continue you are legally confirming the above and agreeing to our terms and conditions</p>

    </div>
      <div class="modal-footer">
        <button  id="modal-btn" type="button" class="btn btn-danger" data-dismiss="modal">Continue</button>
            </div>
          </div>
    </div>
  </div>
</div>
