<div class="container wrapper-homepage">
  <div class="application-item">
    <h1 class="homepage-tagline applicant-margin">Apply for a Bridge loan.</h1>
    <h4 class="tagline title gap-about">Simple, secure loan for your coding bootcamp, at the click of a button.</h4>
      <div class="applicant-flex">
        <div class="dots">
          <%= image_tag "dots.png" %>
        </div>
        <div class="about">
          <p class="dots-text">Coding bootcamp courses are undeniably expensive, costing on average £8,000.</p>
          <p class="dots-text-two">The Government Personal Career Development Loan scheme is closing at the end of January 2019, leaving a void in low interest finance options for further education.</p>
          <p class="dots-text">The 'Bank of Mum and Dad' is a luxury for few.</p>
          <p class="dots-text">There are increasing concerns that students who are not from well-off backgrounds and who have already built up large debts funding their undergraduate degrees will be put off going on to further education.</p>
          <p class="dots-text-five">Most banks require proof of income for a loan, often an impossibility while studying and particularly while studying at an immersive bootcamp.</p>
          <p class="dots-text">Interest rates on government and predatory loans are extortinate, at 10% or even higher.</p>
        </div>
      </div>
        <h1 class="homepage-tagline apply-now-margin-left apply-now-margin-top">Apply now.</h1>
        <h4 class="tagline title gap-about apply-now-margin-left">Learn. Earn. Return.</h4>
        <p class="apply-text apply-now-margin-text apply-now-margin-left">If you do not have the full amount for a course right now, but are motivated to get a good job using the skills aquired on the course, we can help. Through connecting you to the development community, you can fund your place at a rasonable interest rate on mutually beneficial and flexible terms. We hope that once you have benefitted from this service you may also one day help someone in the same way! </p>
        <%= link_to "Create an account", new_user_registration_path(:user => { :applicant => true }), class: "btn btn-primary button-edit-page apply-now-margin-left apply-now-margin-bottom" %>

  </div>

  <%= render 'shared/brain' %>
</div>

<div style="background-image: url(<%= image_path'applicant_footer.png' %>); height: 600px; margin-top: -570px; background-size: cover; "></div>






