<div class="container wrapper-homepage">
  <div class="application-item">
    <h1 class="homepage-tagline applicant-margin">Apply for a Bridge loan.</h1>
    <h4 class="tagline title gap-about">Simple, secure loan for your coding bootcamp, at the click of a button.</h4>
      <div class="applicant-flex">
        <div class="dots">
          <%= image_tag "dots2.png" %>
        </div>
        <div class="about">
          <p class="dots-text">Coding bootcamp courses are very expensive. On average they cost ~£8000</p>
          <p class="dots-text">People do not have piles of cash lying around in savings, whether thats because you are a student straight out of university or in a low paid job and are undertaking the course to change your income potential!</p>
          <p class="dots-text">You cannot always ask family or friends for such a large sum of money</p>
          <p class="dots-text">The government Personal Career Development Loan scheme is closing as of January 2019</p>
          <p class="dots-text">You will not be able to get a bank loan as they require proof of income. If you are on the course you won't have an income</p>
          <p class="dots-text">Interest rates on government and predatory loans are extortinate! 10% or higher</p>
        </div>
      </div>
        <h1 class="homepage-tagline apply-now-margin apply-now-margin-left">Apply now.</h1>
        <h4 class="tagline title gap-about apply-now-margin-left">Learn. Earn. Return.</h4>
        <%= link_to "Create an account", new_user_registration_path(:user => { :applicant => true }), class: "btn btn-primary button-edit-page apply-now-margin-left" %>
        <p class="apply-text apply-now-margin-left">If you do not have the full amount for a course right now, but are motivated to get a good job using the skills aquired on the course, we can help. Through connecting you to the development community, you can fund your place at a rasonable interest rate on mutually beneficial and flexible terms. We hope that once you have benefitted from this service you may also one day help someone in the same way! </p>

  </div>


   <div class="svg-container">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1280px" height="800px" viewBox="0 0 1280 800" enable-background="new 0 0 1280 800" xml:space="preserve">
      <g id="background">
        <g id="circles" display="inline">
          <circle id="_x35__1_" fill="#FCFCFC" cx="640" cy="400.001" r="280.056" />
          <circle id="_x34__1_" fill="#F7F7F7" cx="640" cy="400.001" r="245.049" />
          <circle id="_x33__1_" fill="#F2F2F2" cx="640" cy="400.001" r="210.042" />
          <circle id="_x32__1_" fill="#E5E5E5" cx="640" cy="400" r="175.035" />
          <circle id="_x31__1_" fill="#DDDDDD" cx="640" cy="400" r="140.029" />
        </g>
      </g>
      <g id="fact">
        <path d="M500.25,340.313l-1.571-0.729c-0.098-0.047-0.17-0.12-0.208-0.222c-0.04-0.103-0.036-0.207,0.014-0.312l3.889-8.374
        c0.049-0.105,0.125-0.176,0.226-0.208c0.103-0.032,0.204-0.024,0.302,0.021l1.571,0.729c0.1,0.046,0.171,0.118,0.212,0.219
        c0.041,0.098,0.036,0.201-0.014,0.306l-1.366,2.944l10.74,4.986c0.093,0.043,0.16,0.12,0.2,0.228
        c0.04,0.111,0.038,0.211-0.005,0.305l-0.821,1.769c-0.043,0.094-0.12,0.159-0.229,0.2c-0.109,0.039-0.21,0.038-0.304-0.006
        l-10.738-4.985l-1.362,2.932c-0.05,0.107-0.125,0.177-0.229,0.213C500.452,340.365,500.35,340.359,500.25,340.313z" />
        <path d="M516.593,334.313l-12.042-7.086c-0.09-0.052-0.148-0.135-0.178-0.246c-0.03-0.112-0.019-0.213,0.033-0.301l0.992-1.684
        c0.059-0.099,0.142-0.161,0.247-0.186c0.106-0.023,0.209-0.009,0.303,0.048l4.839,2.847l3.491-5.934l-4.839-2.847
        c-0.095-0.056-0.158-0.137-0.188-0.242c-0.03-0.105-0.017-0.209,0.043-0.31l0.988-1.677c0.053-0.089,0.134-0.148,0.248-0.177
        c0.112-0.03,0.213-0.019,0.303,0.033l12.041,7.087c0.089,0.052,0.149,0.135,0.178,0.248c0.029,0.113,0.018,0.213-0.035,0.302
        l-0.986,1.677c-0.06,0.102-0.144,0.166-0.25,0.19c-0.106,0.026-0.206,0.01-0.301-0.046l-5.018-2.954l-3.491,5.934l5.018,2.954
        c0.096,0.055,0.157,0.135,0.188,0.239c0.03,0.105,0.015,0.207-0.043,0.307l-0.99,1.684c-0.054,0.089-0.135,0.148-0.248,0.175
        C516.783,334.377,516.682,334.365,516.593,334.313z" />
        <path d="M525.127,320.405l-11.246-8.292c-0.087-0.065-0.142-0.151-0.16-0.259c-0.019-0.108,0.006-0.209,0.075-0.303l5.101-6.917
        c0.07-0.093,0.159-0.147,0.267-0.161c0.109-0.015,0.207,0.011,0.296,0.077l1.393,1.028c0.089,0.065,0.142,0.15,0.161,0.257
        c0.019,0.108-0.007,0.21-0.076,0.304l-3.706,5.026l2.804,2.066l3.088-4.187c0.061-0.083,0.149-0.135,0.264-0.152
        c0.115-0.018,0.213,0.003,0.295,0.064l1.398,1.032c0.094,0.069,0.147,0.156,0.161,0.265c0.013,0.109-0.011,0.207-0.078,0.295
        l-3.088,4.188l2.97,2.189l3.705-5.026c0.069-0.093,0.158-0.148,0.267-0.161c0.108-0.014,0.207,0.01,0.294,0.077l1.394,1.026
        c0.089,0.065,0.142,0.152,0.161,0.26c0.02,0.108-0.007,0.209-0.076,0.303l-5.101,6.917c-0.07,0.094-0.159,0.148-0.267,0.162
        C525.314,320.497,525.217,320.471,525.127,320.405z" />
        <path d="M535.878,306.644l-9.992-9.766c-0.075-0.072-0.113-0.166-0.114-0.282c-0.002-0.116,0.034-0.212,0.105-0.284l1.365-1.398
        c0.082-0.083,0.177-0.124,0.285-0.122c0.109,0.002,0.204,0.042,0.283,0.118l4.015,3.925l4.811-4.922l-4.015-3.924
        c-0.08-0.077-0.121-0.171-0.124-0.281c-0.004-0.109,0.033-0.206,0.116-0.29l1.362-1.392c0.071-0.073,0.166-0.109,0.282-0.113
        c0.118,0,0.212,0.036,0.286,0.108l9.994,9.765c0.074,0.072,0.111,0.166,0.113,0.283c0.001,0.117-0.035,0.212-0.107,0.285
        l-1.36,1.394c-0.082,0.083-0.178,0.125-0.287,0.123c-0.109-0.001-0.204-0.04-0.283-0.118l-4.164-4.069l-4.812,4.923l4.165,4.069
        c0.079,0.077,0.12,0.169,0.124,0.279c0.005,0.108-0.035,0.204-0.115,0.287l-1.365,1.398c-0.073,0.073-0.167,0.11-0.282,0.109
        C536.048,306.75,535.952,306.716,535.878,306.644z" />
        <path d="M543.986,291.284l-5.552-6.8c-0.066-0.079-0.093-0.177-0.083-0.292c0.013-0.115,0.059-0.208,0.138-0.273l1.542-1.258
        c0.091-0.073,0.189-0.104,0.299-0.091c0.107,0.015,0.196,0.063,0.265,0.149l5.462,6.689c0.577,0.707,1.282,1.117,2.111,1.228
        c0.829,0.113,1.592-0.116,2.291-0.687c0.697-0.568,1.077-1.274,1.138-2.112c0.061-0.84-0.193-1.607-0.762-2.305l-5.476-6.704
        c-0.069-0.085-0.1-0.183-0.092-0.291c0.009-0.11,0.057-0.2,0.147-0.273l1.545-1.263c0.079-0.064,0.176-0.091,0.291-0.077
        c0.116,0.011,0.207,0.057,0.271,0.136l5.553,6.8c0.5,0.613,0.859,1.291,1.078,2.034c0.218,0.743,0.291,1.481,0.215,2.213
        c-0.076,0.731-0.298,1.445-0.67,2.143c-0.372,0.699-0.875,1.307-1.505,1.822c-0.84,0.686-1.772,1.112-2.797,1.279
        c-1.023,0.167-2.014,0.069-2.972-0.293C545.47,292.694,544.656,292.104,543.986,291.284z" />
        <path d="M558.436,286.108l-5.474-13.319c-0.091-0.194-0.04-0.352,0.15-0.474l0.288-0.183c0.139-0.087,0.273-0.091,0.406-0.013
        l9.263,5.923l0.051-0.033l-1.413-10.904c-0.017-0.152,0.046-0.273,0.186-0.361l0.286-0.183c0.191-0.121,0.356-0.099,0.493,0.067
        l9.703,10.635c0.027,0.032,0.052,0.062,0.068,0.092c0.048,0.075,0.071,0.154,0.067,0.238c-0.009,0.112-0.076,0.207-0.197,0.283
        l-1.627,1.033c-0.076,0.047-0.164,0.064-0.265,0.046c-0.099-0.018-0.178-0.053-0.236-0.106l-5.338-6.083l-0.052,0.033
        l1.319,8.985c0.042,0.153-0.021,0.281-0.182,0.386l-0.322,0.204c-0.134,0.086-0.272,0.083-0.418-0.003l-7.602-5l-0.053,0.034
        l3.25,7.409c0.029,0.071,0.029,0.155,0.002,0.254c-0.026,0.098-0.079,0.171-0.153,0.22l-1.602,1.015
        c-0.115,0.074-0.227,0.097-0.335,0.067c-0.09-0.024-0.163-0.083-0.223-0.177C558.462,286.17,558.449,286.142,558.436,286.108z" />
        <path d="M573.292,276.759l-0.264-15.645c0.002-0.169,0.077-0.288,0.226-0.36l0.186-0.091c0.148-0.07,0.29-0.055,0.423,0.048
        l12.032,9.962c0.052,0.044,0.09,0.095,0.118,0.151c0.033,0.069,0.043,0.137,0.03,0.206c-0.012,0.131-0.09,0.23-0.232,0.299
        l-1.653,0.797c-0.141,0.068-0.266,0.092-0.377,0.072c-0.108-0.022-0.23-0.085-0.365-0.192l-1.937-1.64l-5.68,2.743l0.072,2.542
        c0.026,0.307-0.094,0.522-0.359,0.651l-1.652,0.798c-0.142,0.068-0.27,0.068-0.379-0.005c-0.065-0.037-0.113-0.088-0.143-0.151
        C573.308,276.888,573.294,276.827,573.292,276.759z M575.731,270.6l3.822-1.846l-3.923-3.268l-0.055,0.027L575.731,270.6z" />
        <path d="M587.797,270.087l-4.753-13.382c-0.035-0.097-0.025-0.195,0.027-0.293c0.054-0.099,0.129-0.166,0.227-0.201l0.5-0.178
        l11.397,5.849l0.02-0.008l-2.919-8.214c-0.037-0.103-0.033-0.206,0.011-0.305c0.045-0.101,0.123-0.17,0.234-0.209l1.834-0.651
        c0.096-0.034,0.198-0.027,0.304,0.023c0.105,0.051,0.175,0.124,0.209,0.221l4.757,13.39c0.034,0.098,0.026,0.193-0.028,0.29
        c-0.055,0.095-0.13,0.161-0.227,0.194l-0.476,0.17l-11.545-6.179l-0.019,0.009l3.039,8.553c0.038,0.103,0.032,0.205-0.012,0.306
        c-0.047,0.1-0.124,0.168-0.235,0.208l-1.829,0.649c-0.1,0.037-0.2,0.028-0.306-0.021
        C587.902,270.257,587.833,270.183,587.797,270.087z" />
        <path d="M608.161,263.641l-2.775-13.694c-0.022-0.109-0.004-0.208,0.054-0.301c0.058-0.092,0.143-0.149,0.256-0.172l4.695-0.952
        c1.223-0.249,2.323-0.087,3.304,0.479c0.98,0.568,1.582,1.396,1.801,2.484c0.146,0.72,0.052,1.423-0.281,2.111
        c-0.333,0.686-0.749,1.218-1.246,1.598c0.3,0.036,0.611,0.116,0.931,0.239c0.32,0.123,0.639,0.293,0.96,0.51
        c0.321,0.217,0.604,0.507,0.848,0.867c0.244,0.36,0.41,0.767,0.501,1.214c0.233,1.156,0.001,2.202-0.698,3.14
        c-0.701,0.938-1.678,1.532-2.936,1.789l-4.948,1.001c-0.113,0.023-0.213,0.003-0.303-0.061
        C608.237,263.834,608.184,263.748,608.161,263.641z M609.237,255.095l2.205-0.446c0.517-0.105,0.905-0.37,1.166-0.795
        c0.26-0.427,0.338-0.9,0.232-1.424c-0.105-0.515-0.355-0.901-0.75-1.158c-0.395-0.259-0.854-0.335-1.377-0.229l-2.206,0.448
        L609.237,255.095z M610.434,261.003l2.489-0.503c0.517-0.105,0.92-0.374,1.21-0.807c0.29-0.434,0.381-0.915,0.273-1.445
        c-0.102-0.505-0.4-0.885-0.899-1.145c-0.495-0.26-1.019-0.333-1.57-0.222l-2.247,0.456L610.434,261.003z" />
        <path d="M621.053,261.2l-1.42-13.901c-0.01-0.108,0.017-0.207,0.085-0.293c0.067-0.086,0.158-0.135,0.276-0.147l6.013-0.614
        c1.264-0.129,2.388,0.201,3.372,0.992c0.983,0.789,1.538,1.811,1.665,3.062c0.098,0.948-0.1,1.831-0.593,2.646
        c-0.491,0.815-1.188,1.46-2.088,1.933l3.433,5.021c0.089,0.128,0.105,0.263,0.047,0.401c-0.058,0.141-0.173,0.22-0.345,0.238
        l-2.207,0.225c-0.164,0.017-0.283-0.034-0.357-0.149l-3.359-5.251l-2.326,0.237l0.543,5.323c0.011,0.103-0.02,0.197-0.094,0.288
        c-0.074,0.09-0.162,0.139-0.264,0.15l-1.939,0.198c-0.115,0.012-0.216-0.018-0.298-0.087
        C621.112,261.4,621.064,261.31,621.053,261.2z M623.036,253.321l3.413-0.349c0.561-0.056,1.025-0.316,1.397-0.78
        c0.371-0.462,0.524-0.986,0.464-1.575c-0.056-0.552-0.312-1.009-0.767-1.37c-0.454-0.361-0.961-0.513-1.522-0.456l-3.413,0.348
        L623.036,253.321z" />
        <path d="M633.214,259.813l6.558-14.206c0.075-0.152,0.196-0.227,0.359-0.228h0.207c0.166,0,0.285,0.076,0.36,0.227l6.509,14.201
        c0.029,0.061,0.042,0.122,0.043,0.185c-0.001,0.077-0.021,0.144-0.062,0.2c-0.069,0.111-0.183,0.167-0.341,0.167l-1.835,0.002
        c-0.156-0.001-0.281-0.034-0.371-0.1c-0.088-0.066-0.173-0.177-0.247-0.33l-1.03-2.321l-6.307,0.002l-1.04,2.322
        c-0.108,0.287-0.312,0.431-0.607,0.43l-1.834,0.002c-0.158,0-0.272-0.057-0.34-0.168c-0.042-0.063-0.062-0.13-0.062-0.2
        C633.172,259.937,633.187,259.874,633.214,259.813z M638.086,255.324l4.244-0.002l-2.113-4.646h-0.062L638.086,255.324z" />
        <path d="M649.293,260.247l1.042-13.936c0.006-0.103,0.054-0.192,0.14-0.268c0.09-0.077,0.186-0.111,0.286-0.102l1.947,0.145
        c0.103,0.007,0.192,0.056,0.267,0.144c0.074,0.089,0.109,0.184,0.101,0.288l-1.038,13.933c-0.007,0.104-0.057,0.192-0.144,0.269
        c-0.088,0.076-0.184,0.111-0.285,0.104l-1.948-0.146c-0.101-0.008-0.19-0.055-0.267-0.144
        C649.318,260.443,649.285,260.348,649.293,260.247z" />
        <path d="M656.043,260.714l2.216-14.025c0.015-0.103,0.07-0.184,0.164-0.246c0.094-0.061,0.192-0.084,0.295-0.068l0.523,0.083
        l7.22,10.582l0.021,0.003l1.36-8.61c0.017-0.108,0.068-0.196,0.156-0.263c0.086-0.065,0.188-0.09,0.305-0.072l1.921,0.305
        c0.103,0.016,0.189,0.071,0.255,0.166c0.069,0.094,0.096,0.192,0.081,0.293l-2.218,14.036c-0.016,0.102-0.069,0.181-0.163,0.24
        c-0.094,0.059-0.191,0.08-0.292,0.064l-0.499-0.081l-7.192-10.941l-0.021-0.003l-1.415,8.966
        c-0.018,0.109-0.069,0.197-0.157,0.263c-0.089,0.066-0.188,0.09-0.307,0.072l-1.917-0.304c-0.103-0.016-0.188-0.071-0.257-0.165
        C656.052,260.916,656.025,260.817,656.043,260.714z" />
        <path d="M677.07,264.851l3.773-13.454c0.028-0.099,0.094-0.178,0.196-0.234c0.099-0.058,0.198-0.072,0.298-0.043l1.881,0.525
        c0.099,0.028,0.175,0.093,0.231,0.194c0.059,0.102,0.072,0.202,0.043,0.302l-3.774,13.453c-0.027,0.098-0.092,0.177-0.192,0.235
        c-0.103,0.057-0.201,0.072-0.299,0.044l-1.881-0.528c-0.099-0.027-0.176-0.092-0.234-0.192
        C677.056,265.049,677.043,264.949,677.07,264.851z" />
        <path d="M683.184,265.131c-0.003-0.017,0.002-0.034,0.009-0.056c0.023-0.065,0.088-0.159,0.196-0.283l1.154-0.997
        c0.118-0.106,0.252-0.143,0.408-0.11c0.155,0.033,0.261,0.102,0.318,0.208l0.07,0.104c0.056,0.069,0.115,0.147,0.179,0.232
        c0.065,0.083,0.147,0.188,0.251,0.311c0.101,0.125,0.207,0.246,0.317,0.366c0.112,0.118,0.238,0.245,0.381,0.379
        c0.144,0.133,0.283,0.255,0.428,0.364c0.145,0.108,0.297,0.211,0.459,0.309c0.163,0.098,0.321,0.175,0.477,0.229
        c0.514,0.18,0.997,0.183,1.449,0.008c0.453-0.174,0.754-0.477,0.905-0.903c0.175-0.494,0.12-0.999-0.161-1.516
        c-0.28-0.519-0.792-1.106-1.532-1.759c-0.449-0.401-0.833-0.788-1.148-1.167c-0.316-0.378-0.601-0.805-0.855-1.28
        c-0.258-0.475-0.403-0.983-0.441-1.521s0.043-1.088,0.24-1.653c0.159-0.447,0.399-0.852,0.724-1.217
        c0.325-0.361,0.726-0.667,1.199-0.908c0.475-0.244,1.045-0.373,1.717-0.387c0.669-0.015,1.383,0.11,2.137,0.377
        c0.454,0.16,0.885,0.369,1.293,0.625c0.408,0.258,0.75,0.525,1.029,0.803c0.279,0.279,0.496,0.512,0.654,0.696
        c0.157,0.188,0.287,0.358,0.384,0.513c0.073,0.09,0.1,0.208,0.075,0.355s-0.085,0.254-0.186,0.327l-1.087,0.844
        c-0.122,0.099-0.251,0.153-0.384,0.162c-0.136,0.009-0.251-0.043-0.345-0.157c-0.888-1.138-1.661-1.821-2.312-2.053
        c-0.533-0.187-1.01-0.192-1.429-0.018c-0.421,0.176-0.692,0.442-0.819,0.799c-0.16,0.46-0.119,0.927,0.13,1.401
        c0.248,0.475,0.727,1.026,1.435,1.654c0.266,0.232,0.497,0.448,0.692,0.648c0.193,0.199,0.402,0.432,0.624,0.696
        c0.224,0.264,0.41,0.521,0.562,0.768c0.154,0.247,0.294,0.524,0.424,0.832c0.128,0.308,0.216,0.612,0.266,0.913
        c0.046,0.303,0.056,0.627,0.024,0.976c-0.03,0.35-0.108,0.705-0.234,1.06c-0.388,1.099-1.127,1.904-2.219,2.416
        c-1.092,0.513-2.284,0.541-3.576,0.084c-0.579-0.205-1.11-0.462-1.591-0.772c-0.478-0.311-0.865-0.627-1.159-0.953
        c-0.296-0.326-0.521-0.599-0.671-0.82c-0.148-0.222-0.272-0.424-0.367-0.61C683.209,265.312,683.179,265.205,683.184,265.131z" />
        <path d="M703.183,261.363l0.649-1.333c0.046-0.094,0.123-0.159,0.234-0.197c0.108-0.038,0.209-0.033,0.305,0.012l7.889,3.851
        c0.093,0.045,0.159,0.123,0.197,0.232c0.038,0.111,0.034,0.212-0.012,0.305l-0.068,0.14l-11.452,9.133
        c-0.307,0.271-0.608,0.334-0.897,0.192l-1.398-0.681c-0.312-0.155-0.413-0.352-0.295-0.593l0.099-0.203l9.945-7.875l-5.012-2.445
        c-0.092-0.045-0.157-0.124-0.195-0.233C703.134,261.557,703.138,261.455,703.183,261.363z" />
        <path d="M709.654,276.631c-0.121-1.604,0.411-3.396,1.598-5.377c1.185-1.982,2.514-3.298,3.984-3.949
        c1.47-0.65,2.93-0.542,4.375,0.323c1.447,0.868,2.232,2.102,2.354,3.705c0.121,1.603-0.411,3.395-1.598,5.377
        s-2.515,3.298-3.982,3.949c-1.471,0.651-2.931,0.542-4.379-0.324C710.561,279.468,709.774,278.233,709.654,276.631z
        M713.612,272.667c-0.801,1.335-1.227,2.48-1.279,3.433c-0.053,0.953,0.273,1.639,0.977,2.059
        c0.702,0.421,1.46,0.384,2.276-0.113c0.812-0.496,1.62-1.412,2.42-2.75c0.797-1.33,1.222-2.474,1.276-3.428
        c0.055-0.956-0.269-1.643-0.973-2.063c-0.702-0.422-1.462-0.382-2.278,0.117C715.216,270.419,714.408,271.333,713.612,272.667z" />
        <path d="M725.466,274.106c0.469-0.636,1.092-1.01,1.865-1.126s1.48,0.064,2.119,0.54c0.632,0.466,1.005,1.086,1.123,1.861
        c0.116,0.776-0.06,1.481-0.528,2.116c-0.471,0.636-1.096,1.01-1.875,1.127c-0.778,0.114-1.481-0.061-2.111-0.526
        c-0.64-0.476-1.017-1.099-1.131-1.872C724.812,275.453,724.992,274.746,725.466,274.106z M726.922,275.186
        c-0.168,0.226-0.229,0.482-0.188,0.772c0.043,0.288,0.178,0.516,0.403,0.684c0.224,0.162,0.473,0.222,0.756,0.174
        c0.283-0.046,0.508-0.183,0.674-0.41c0.166-0.221,0.228-0.471,0.186-0.749c-0.043-0.28-0.175-0.5-0.392-0.664
        c-0.228-0.168-0.484-0.234-0.767-0.197C727.311,274.836,727.085,274.965,726.922,275.186z M719.966,284.434l14.144-6.936
        c0.147-0.072,0.287-0.057,0.419,0.039l0.853,0.634c0.128,0.094,0.184,0.213,0.172,0.357c-0.015,0.144-0.092,0.25-0.233,0.313
        l-14.178,6.913c-0.043,0.025-0.109,0.036-0.193,0.028c-0.086-0.006-0.159-0.032-0.22-0.077l-0.811-0.603
        c-0.126-0.093-0.184-0.211-0.173-0.354C719.755,284.609,719.829,284.502,719.966,284.434z M724.86,287.989
        c-0.119-0.775,0.06-1.482,0.528-2.117c0.471-0.633,1.094-1.007,1.87-1.122c0.775-0.111,1.479,0.064,2.107,0.531
        c0.641,0.475,1.022,1.102,1.142,1.879c0.12,0.777-0.054,1.484-0.524,2.117c-0.471,0.635-1.096,1.01-1.873,1.12
        c-0.779,0.11-1.487-0.071-2.132-0.546C725.35,289.387,724.978,288.765,724.86,287.989z M726.846,286.953
        c-0.167,0.228-0.23,0.482-0.188,0.766c0.041,0.284,0.175,0.508,0.403,0.677c0.221,0.163,0.474,0.226,0.765,0.188
        c0.288-0.038,0.517-0.169,0.683-0.396c0.16-0.215,0.216-0.466,0.169-0.755c-0.047-0.288-0.183-0.512-0.401-0.676
        c-0.227-0.168-0.482-0.233-0.763-0.193C727.23,286.603,727.008,286.734,726.846,286.953z" />
        <path d="M743.53,285.415c0.031-0.048,0.062-0.09,0.097-0.123c0.063-0.054,0.133-0.087,0.205-0.101
        c0.116-0.02,0.228,0.026,0.336,0.133l1.367,1.385c0.058,0.058,0.092,0.137,0.101,0.232c0.009,0.099-0.006,0.181-0.044,0.248
        l-4.446,7.48l0.058,0.058l8.541-3.732c0.14-0.07,0.279-0.039,0.414,0.098l0.268,0.272c0.136,0.136,0.165,0.275,0.093,0.415
        l-3.809,8.518l0.057,0.059l7.503-4.387c0.067-0.037,0.148-0.054,0.242-0.045c0.096,0.008,0.171,0.042,0.231,0.101l1.367,1.384
        c0.112,0.111,0.156,0.227,0.138,0.344c-0.012,0.077-0.049,0.143-0.111,0.195c-0.033,0.033-0.076,0.066-0.122,0.094l-12.889,7.131
        c-0.075,0.044-0.156,0.058-0.249,0.043s-0.168-0.052-0.225-0.112l-0.238-0.24c-0.137-0.137-0.169-0.276-0.093-0.416l4.15-9.404
        l-0.081-0.081l-9.423,4.069c-0.16,0.052-0.3,0.02-0.417-0.096l-0.236-0.243c-0.06-0.059-0.095-0.133-0.108-0.228
        c-0.015-0.093,0-0.175,0.046-0.247L743.53,285.415z" />
        <path d="M746.628,308.264l15.238-3.553c0.166-0.035,0.3,0.013,0.401,0.145l0.126,0.163c0.103,0.129,0.117,0.271,0.042,0.424
        l-7.204,13.859c-0.029,0.061-0.073,0.108-0.121,0.146c-0.06,0.049-0.127,0.072-0.195,0.074c-0.13,0.014-0.243-0.042-0.343-0.165
        l-1.125-1.447c-0.098-0.124-0.148-0.242-0.15-0.354c-0.002-0.109,0.033-0.244,0.11-0.398l1.196-2.239l-3.876-4.973l-2.474,0.605
        c-0.291,0.091-0.53,0.018-0.71-0.213l-1.13-1.448c-0.099-0.125-0.122-0.248-0.075-0.371c0.023-0.072,0.063-0.129,0.119-0.172
        C746.506,308.307,746.562,308.282,746.628,308.264z M753.164,309.352l2.609,3.347l2.366-4.523l-0.038-0.049L753.164,309.352z" />
        <path d="M765.554,313.125l1.453-0.94c0.091-0.06,0.193-0.08,0.3-0.058c0.107,0.019,0.194,0.078,0.256,0.177l5.012,7.753
        c0.065,0.098,0.084,0.201,0.056,0.302c-0.025,0.103-0.086,0.186-0.18,0.246l-1.453,0.939c-0.092,0.061-0.19,0.081-0.297,0.063
        c-0.105-0.019-0.19-0.076-0.254-0.175l-1.762-2.725l-9.941,6.429c-0.088,0.057-0.188,0.074-0.302,0.049
        c-0.113-0.026-0.198-0.081-0.253-0.167l-1.061-1.639c-0.054-0.086-0.071-0.186-0.046-0.298c0.023-0.114,0.08-0.199,0.165-0.254
        l9.945-6.431l-1.757-2.715c-0.065-0.1-0.084-0.201-0.06-0.307C765.402,313.266,765.461,313.184,765.554,313.125z" />
        <path d="M761.893,330.244l12.322-6.589c0.097-0.053,0.198-0.063,0.305-0.035c0.102,0.03,0.185,0.096,0.239,0.199l4.054,7.578
        c0.053,0.104,0.064,0.206,0.03,0.311c-0.032,0.104-0.098,0.181-0.196,0.234l-1.525,0.816c-0.097,0.052-0.197,0.063-0.303,0.034
        c-0.105-0.029-0.187-0.095-0.241-0.199l-2.944-5.505l-3.073,1.642l2.454,4.589c0.049,0.089,0.058,0.192,0.023,0.303
        c-0.032,0.11-0.095,0.192-0.184,0.239l-1.532,0.819c-0.104,0.054-0.206,0.063-0.309,0.03c-0.104-0.035-0.182-0.099-0.234-0.198
        l-2.454-4.587l-3.251,1.738l2.944,5.507c0.055,0.104,0.066,0.209,0.032,0.311c-0.034,0.104-0.102,0.182-0.197,0.233l-1.527,0.818
        c-0.097,0.05-0.196,0.062-0.302,0.031c-0.105-0.029-0.187-0.094-0.241-0.197l-4.053-7.578c-0.054-0.102-0.065-0.206-0.032-0.31
        C761.731,330.374,761.796,330.298,761.893,330.244z" />
        <path d="M767.669,341.354l12.89-5.391c0.101-0.043,0.203-0.044,0.304-0.006c0.104,0.04,0.177,0.113,0.221,0.221l2.335,5.576
        c0.49,1.173,0.502,2.345,0.028,3.515c-0.47,1.17-1.285,1.999-2.447,2.482c-0.88,0.37-1.78,0.435-2.702,0.201
        c-0.923-0.232-1.742-0.712-2.457-1.437l-3.81,4.743c-0.097,0.121-0.221,0.175-0.372,0.159c-0.15-0.015-0.259-0.101-0.324-0.26
        l-0.857-2.048c-0.062-0.152-0.049-0.28,0.039-0.384l4.051-4.739l-0.903-2.16l-4.934,2.067c-0.098,0.039-0.195,0.037-0.305-0.008
        c-0.107-0.045-0.183-0.113-0.221-0.209l-0.752-1.796c-0.046-0.109-0.045-0.212-0.001-0.313
        C767.493,341.468,767.566,341.396,767.669,341.354z M775.782,340.964l1.325,3.168c0.216,0.518,0.602,0.888,1.149,1.109
        c0.551,0.218,1.097,0.216,1.645-0.012c0.514-0.215,0.876-0.593,1.089-1.133c0.214-0.541,0.212-1.07-0.006-1.588l-1.323-3.166
        L775.782,340.964z" />
        <circle id="_x31__1_copy" fill="transparent" cx="640" cy="400" r="140.029" />
      </g>
      <rect id="cover" x="-52.057" y="400" display="inline" fill="#FCFCFC" width="1379.113" height="467.61" />
      <g id="brain">
        <g id="brain-bg">
          <path fill="#F2F2F2" d="M624.602,297.169c-38.32,1.114-65.818,31.155-76.47,67.726c0.476,3.021,3.03,5.416,6.21,5.416
          c0.954,0,1.59,0.636,1.59,1.59c0,0.954-0.636,1.59-1.59,1.59c-3.816,0-7.323,1.927-9.391,5.268
          c-1.113,6.679-1.739,13.338-1.739,20.174c0,9.859,0.804,19.538,2.235,28.921c1.59,3.657,4.919,6.062,8.895,6.062
          c0.954-0.001,1.589,0.637,1.589,1.59c0,0.954-0.635,1.59-1.589,1.591c-2.703,0-5.107,1.73-6.063,4.274
          c2.704,10.018,6.36,19.416,11.131,27.525l1.292,0.001c2.704,0,4.77-2.066,4.77-4.769v-6.36c0-4.452,3.498-7.95,7.951-7.951
          c4.451,0.001,7.949,3.499,7.95,7.951c0,0.952-0.636,1.59-1.59,1.59c-0.955,0-1.59-0.637-1.591-1.59
          c0-2.704-2.066-4.771-4.769-4.771c-2.704,0-4.77,2.066-4.77,4.771l0,6.359c0,4.135-3.18,7.474-7.155,7.949
          c5.724,8.587,12.879,15.732,21.465,20.821c3.021,0.952,6.201,1.591,9.54,1.59c2.704,0.001,4.771-2.067,4.77-4.771l0-15.898
          c0-0.956,0.637-1.59,1.59-1.591c0.956,0.001,1.59,0.635,1.59,1.591v15.898c0,4.135-3.18,7.484-7.155,7.802
          c5.565,1.909,11.748,3.021,18.585,3.18l2.088-0.001c13.674-0.475,24.646-11.605,24.646-25.439l0-14.31
          c0-4.451-3.498-7.95-7.95-7.95c-0.954-0.001-1.59-0.636-1.59-1.59c0-0.954,0.636-1.591,1.59-1.59
          c4.452-0.001,7.951-3.498,7.951-7.949v-28.621c0-6.201-4.93-11.13-11.131-11.131h-9.54c-0.954,0-1.59-0.637-1.59-1.59
          c0-0.955,0.636-1.59,1.59-1.59h9.54c6.201,0,11.131-4.93,11.131-11.13l0-38.161c0-4.452-3.498-7.949-7.95-7.95
          c-0.954,0-1.59-0.636-1.59-1.59c0-0.953,0.636-1.589,1.59-1.59c4.452,0,7.95-3.499,7.951-7.951l0-20.669
          c0-6.678-5.247-12.243-11.925-12.721h-2.089L624.602,297.169z M653.719,297.169c-6.678,0.478-11.924,6.042-11.924,12.721v20.67
          c0,4.453,3.496,7.95,7.949,7.951c0.955,0,1.59,0.635,1.59,1.59c0,0.954-0.635,1.59-1.59,1.589c-4.453,0-7.949,3.499-7.949,7.95
          v38.162c0,6.201,4.929,11.129,11.129,11.129h9.54c0.954,0,1.591,0.639,1.591,1.59c0,0.955-0.637,1.592-1.591,1.592h-9.54
          c-6.2,0-11.129,4.928-11.129,11.129v28.622c0,4.451,3.496,7.948,7.949,7.949c0.955-0.001,1.59,0.635,1.59,1.59
          s-0.635,1.59-1.59,1.59c-4.453,0-7.949,3.498-7.949,7.95v14.31c0,13.832,10.971,24.965,24.645,25.441h2.09
          c6.678-0.16,12.859-1.271,18.583-3.181c-3.974-0.477-7.154-3.814-7.154-7.95v-15.9c0-0.952,0.636-1.59,1.592-1.59
          c0.951,0,1.589,0.638,1.589,1.59v15.9c0,2.702,2.066,4.771,4.769,4.77c3.339,0.001,6.52-0.477,9.541-1.59
          c8.744-4.93,15.741-12.074,21.467-20.818c-3.978-0.477-7.157-3.816-7.157-7.95v-6.36c0-2.703-2.066-4.77-4.771-4.77
          c-2.701,0-4.77,2.066-4.77,4.77c0.001,0.955-0.636,1.589-1.59,1.589c-0.955,0.001-1.59-0.634-1.589-1.589
          c-0.001-4.453,3.496-7.95,7.949-7.95c4.451,0,7.95,3.496,7.949,7.95l0.001,6.36c0,2.702,2.066,4.77,4.771,4.77l1.093-0.001
          c4.93-8.108,8.587-17.51,11.131-27.528c-0.795-2.543-3.149-4.272-6.012-4.271c-0.955-0.001-1.59-0.638-1.59-1.59
          c-0.001-0.955,0.635-1.592,1.59-1.591c3.975,0,7.304-2.406,8.895-6.062c1.589-9.382,2.234-19.222,2.235-28.921
          c-0.001-6.836-0.627-13.544-1.739-20.223c-2.065-3.181-5.576-5.217-9.391-5.217c-0.955-0.001-1.591-0.637-1.59-1.59
          c-0.001-0.954,0.635-1.59,1.591-1.59c3.179,0,5.732-2.395,6.209-5.415c-10.494-36.413-38.001-66.463-76.32-67.577h-2.091
          L653.719,297.169z" />
        </g>
        <g id="brain-clip">
          <defs>
            <path id="SVGID_1_" d="M593.297,497.517c5.565,1.909,11.748,3.021,18.585,3.18l2.088-0.001
            c13.674-0.475,24.646-11.605,24.646-25.439l0-14.31c0-4.451-3.498-7.95-7.95-7.95c-0.954-0.001-1.59-0.636-1.59-1.59
            c0-0.954,0.636-1.591,1.59-1.59c4.452-0.001,7.951-3.498,7.951-7.949v-28.621c0-6.201-4.93-11.13-11.131-11.131h-9.54
            c-0.954,0-1.59-0.637-1.59-1.59c0-0.955,0.636-1.59,1.59-1.59h9.54c6.201,0,11.131-4.93,11.131-11.13l0-38.161
            c0-4.452-3.498-7.949-7.95-7.95c-0.954,0-1.59-0.636-1.59-1.59c0-0.953,0.636-1.589,1.59-1.59c4.452,0,7.95-3.499,7.951-7.951
            l0-20.669c0-6.678-5.247-12.243-11.925-12.721h-2.089l0-0.005c-38.32,1.114-65.818,31.155-76.47,67.726
            c0.476,3.021,3.03,5.416,6.21,5.416c0.954,0,1.59,0.636,1.59,1.59c0,0.954-0.636,1.59-1.59,1.59
            c-3.816,0-7.323,1.927-9.391,5.268c-1.113,6.679-1.739,13.338-1.739,20.174c0,9.859,0.804,19.538,2.235,28.921
            c1.59,3.657,4.919,6.062,8.895,6.062c0.954-0.001,1.589,0.637,1.589,1.59c0,0.954-0.635,1.59-1.589,1.591
            c-2.703,0-5.107,1.73-6.063,4.274c2.704,10.018,6.36,19.416,11.131,27.525l2.087,3.181c5.724,8.587,12.879,15.732,21.465,20.821
            L593.297,497.517z M720.802,468.741c4.93-8.108,8.587-17.51,11.131-27.528c-0.795-2.543-3.149-4.272-6.012-4.271
            c-0.955-0.001-1.59-0.638-1.59-1.59c-0.001-0.955,0.635-1.592,1.59-1.591c3.975,0,7.304-2.406,8.895-6.062
            c1.589-9.382,2.234-19.222,2.235-28.921c-0.001-6.836-0.627-13.544-1.739-20.223c-2.065-3.181-5.576-5.217-9.391-5.217
            c-0.955-0.001-1.591-0.637-1.59-1.59c-0.001-0.954,0.635-1.59,1.591-1.59c3.179,0,5.732-2.395,6.209-5.415
            c-10.494-36.413-38.001-66.463-76.32-67.577h-2.091l-0.001,0.003c-6.678,0.478-11.924,6.042-11.924,12.721v20.67
            c0,4.453,3.496,7.95,7.949,7.951c0.955,0,1.59,0.635,1.59,1.59c0,0.954-0.635,1.59-1.59,1.589c-4.453,0-7.949,3.499-7.949,7.95
            v38.162c0,6.201,4.929,11.129,11.129,11.129h9.54c0.954,0,1.591,0.639,1.591,1.59c0,0.955-0.637,1.592-1.591,1.592h-9.54
            c-6.2,0-11.129,4.928-11.129,11.129v28.622c0,4.451,3.496,7.948,7.949,7.949c0.955-0.001,1.59,0.635,1.59,1.59
            s-0.635,1.59-1.59,1.59c-4.453,0-7.949,3.498-7.949,7.95v14.31c0,13.832,10.971,24.965,24.645,25.441h2.09
            c6.678-0.16,12.859-1.271,18.583-3.181l10.336-4.771c8.744-4.93,15.741-12.074,21.467-20.818L720.802,468.741z" />
          </defs>
          <clipPath id="SVGID_2_">
            <use xlink:href="#SVGID_1_" overflow="visible" />
          </clipPath>
          <path id="water-1" clip-path="url(#SVGID_2_)" fill="#084887" d="M492.043,528.598V346.608c0,0,22.021-9.263,30.445,0
          c8.424,9.262,30.445,0,30.445,0s21.557-9.773,30.445,0c8.888,9.772,30.445,0,30.445,0s21.766-9.541,30.445,0
          c8.677,9.54,30.444,0,30.444,0s20.796-10.608,30.445,0c9.647,10.608,30.444,0,30.444,0v181.989H492.043z" />
          <path id="water-2" clip-path="url(#SVGID_2_)" fill="#084887" d="M525.824,528.598V346.608c0,0,22.021-9.263,30.445,0
          c8.424,9.262,30.445,0,30.445,0s21.557-9.773,30.445,0c8.888,9.772,30.444,0,30.444,0s21.768-9.541,30.445,0
          c8.677,9.54,30.446,0,30.446,0s20.795-10.608,30.444,0c9.648,10.608,30.444,0,30.444,0v181.989H525.824z" />
        </g>
        <g id="folds-group">
          <path d="M621.124,306.709c4.452,0,7.95,3.499,7.95,7.95c0,0.954-0.636,1.59-1.59,1.589c-0.954,0-1.59-0.636-1.59-1.589
          c0-2.704-2.067-4.771-4.77-4.771c-2.704,0-4.771,2.068-4.771,4.771c0,0.953-0.636,1.589-1.59,1.589
          c-0.954,0-1.59-0.636-1.591-1.589C613.173,310.208,616.672,306.71,621.124,306.709z M659.285,306.709
          c4.451,0,7.948,3.498,7.948,7.951c0.001,0.953-0.634,1.589-1.589,1.589c-0.953,0-1.59-0.636-1.589-1.589
          c-0.001-2.703-2.067-4.77-4.771-4.771c-2.703,0-4.771,2.068-4.771,4.771c0,0.953-0.635,1.589-1.59,1.589
          c-0.954,0-1.59-0.636-1.59-1.59C651.334,310.208,654.834,306.709,659.285,306.709z M627.484,322.61
          c0.954,0,1.59,0.636,1.589,1.589c0,4.452-3.499,7.951-7.95,7.951c-4.452,0-7.951,3.498-7.95,7.95c0,4.451,3.499,7.95,7.95,7.95
          c4.452,0,7.95,3.498,7.95,7.95c0,0.954-0.636,1.59-1.59,1.591c-0.955,0-1.59-0.637-1.59-1.591c0-2.703-2.067-4.771-4.77-4.77
          c-6.202,0-11.131-4.929-11.131-11.13c0-6.201,4.929-11.13,11.13-11.13c2.703,0,4.77-2.066,4.771-4.771
          C625.894,323.246,626.53,322.61,627.484,322.61z M652.924,322.609c0.955,0,1.59,0.636,1.59,1.59c0,2.704,2.068,4.771,4.771,4.771
          c6.2,0,11.128,4.929,11.129,11.13c0,6.201-4.928,11.13-11.129,11.129c-2.703,0-4.771,2.067-4.771,4.771
          c0,0.953-0.635,1.59-1.59,1.59c-0.953,0-1.59-0.637-1.59-1.59c0-4.452,3.499-7.95,7.95-7.95c4.452,0,7.949-3.499,7.949-7.95
          c0-4.452-3.497-7.95-7.948-7.95c-4.451,0-7.951-3.499-7.951-7.951C651.334,323.246,651.971,322.609,652.924,322.609z
          M586.144,335.33c4.453,0,7.95,3.498,7.95,7.95c0,0.955-0.636,1.59-1.59,1.59c-0.954,0-1.59-0.636-1.59-1.59
          c0-2.702-2.067-4.77-4.77-4.77c-2.703,0-4.77,2.067-4.77,4.77c0,0.954-0.636,1.59-1.591,1.59c-0.954,0-1.59-0.635-1.59-1.59
          C578.194,338.828,581.692,335.33,586.144,335.33z M694.265,335.33c4.452,0,7.95,3.498,7.95,7.951c0,0.954-0.637,1.589-1.59,1.589
          c-0.955,0-1.591-0.635-1.591-1.589c0-2.703-2.066-4.771-4.769-4.771c-2.704,0-4.771,2.068-4.771,4.771
          c0.001,0.954-0.635,1.589-1.59,1.589c-0.954,0-1.59-0.635-1.59-1.59C686.314,338.828,689.813,335.33,694.265,335.33z
          M560.703,363.95c4.452,0,7.95,3.499,7.95,7.95c0,4.453-3.498,7.951-7.95,7.951c-0.954,0-1.59-0.637-1.589-1.59
          c0-0.955,0.635-1.59,1.59-1.59c2.703,0,4.77-2.067,4.77-4.771c0-2.703-2.067-4.77-4.771-4.77c-0.954,0-1.59-0.636-1.589-1.59
          C559.114,364.586,559.749,363.95,560.703,363.95z M621.125,363.95c4.452,0,7.95,3.499,7.949,7.95c0,0.955-0.636,1.591-1.589,1.59
          c-0.954,0-1.59-0.636-1.59-1.59c0-2.703-2.067-4.77-4.771-4.77c-0.954,0-1.59-0.636-1.59-1.59
          C619.534,364.586,620.169,363.95,621.125,363.95z M659.285,363.95c0.953,0,1.589,0.636,1.589,1.591
          c0,0.954-0.636,1.589-1.589,1.589c-2.703,0-4.771,2.067-4.771,4.77c0,0.954-0.635,1.59-1.59,1.59c-0.954,0-1.59-0.637-1.59-1.59
          C651.334,367.448,654.833,363.95,659.285,363.95z M719.705,363.95c0.955,0,1.591,0.636,1.591,1.59
          c0,0.954-0.637,1.589-1.591,1.589c-2.703,0-4.77,2.067-4.77,4.77c0,2.704,2.066,4.771,4.77,4.771c0.954,0,1.592,0.635,1.592,1.59
          c-0.001,0.954-0.638,1.59-1.592,1.59c-4.452-0.001-7.95-3.499-7.949-7.951C711.755,367.448,715.253,363.95,719.705,363.95z
          M579.783,370.311c0.954,0,1.59,0.636,1.59,1.589c0,11.449-9.222,20.67-20.67,20.67c-0.954,0-1.59-0.637-1.589-1.59
          c0-0.954,0.635-1.59,1.59-1.59c9.699,0,17.49-7.791,17.49-17.49C578.194,370.946,578.83,370.31,579.783,370.311z M700.625,370.311
          c0.953,0,1.59,0.635,1.59,1.589c0,9.699,7.791,17.491,17.49,17.491c0.954,0,1.591,0.636,1.592,1.59
          c-0.001,0.953-0.638,1.59-1.592,1.59c-11.449,0-20.671-9.223-20.671-20.67C699.034,370.946,699.67,370.311,700.625,370.311z
          M627.484,379.851c0.955,0,1.59,0.635,1.59,1.589c0,4.452-3.499,7.95-7.95,7.95h-12.721c-6.201,0-11.13,4.929-11.13,11.13
          c0,6.2,4.929,11.131,11.13,11.131c0.955,0,1.59,0.636,1.59,1.59c0,0.955-0.636,1.59-1.59,1.59c-7.949,0-14.31-6.359-14.31-14.311
          c0-7.95,6.36-14.311,14.31-14.31l12.721,0c2.703,0,4.771-2.067,4.77-4.77C625.895,380.486,626.53,379.851,627.484,379.851z
          M652.924,379.851c0.955,0,1.59,0.636,1.59,1.589c0,2.703,2.068,4.77,4.77,4.77h12.722c7.951,0,14.31,6.36,14.31,14.31
          c0,7.952-6.359,14.312-14.309,14.312c-0.955,0-1.592-0.635-1.593-1.59c0-0.954,0.638-1.59,1.592-1.591
          c6.202,0.001,11.13-4.929,11.13-11.13c0-6.2-4.928-11.13-11.13-11.13l-12.72,0c-4.451,0-7.951-3.498-7.951-7.95
          C651.334,380.486,651.971,379.851,652.924,379.851z M563.883,408.472c4.453,0,7.95,3.497,7.95,7.949
          c0,0.954-0.635,1.591-1.59,1.591c-0.954-0.001-1.59-0.637-1.59-1.591c0-2.703-2.066-4.77-4.77-4.77
          c-0.954,0-1.59-0.637-1.59-1.591C562.293,409.107,562.929,408.472,563.883,408.472z M716.525,408.471
          c0.954,0.001,1.59,0.637,1.59,1.59c0.001,0.955-0.635,1.591-1.59,1.591c-2.704,0-4.77,2.066-4.77,4.769
          c0,0.955-0.637,1.592-1.591,1.592c-0.953-0.001-1.59-0.637-1.59-1.591C708.575,411.969,712.072,408.472,716.525,408.471z
          M621.124,411.651c4.452,0,7.95,3.496,7.95,7.95c0,4.451-3.499,7.95-7.95,7.95h-4.77c-0.954,0-1.59-0.638-1.59-1.591
          c0-0.954,0.636-1.59,1.59-1.59h4.77c2.703,0,4.77-2.067,4.77-4.77c0-2.704-2.067-4.771-4.77-4.771c-0.955,0-1.59-0.635-1.59-1.59
          C619.534,412.287,620.169,411.651,621.124,411.651z M659.285,411.651c0.953,0,1.589,0.636,1.589,1.59
          c0.001,0.955-0.636,1.59-1.589,1.59c-2.703,0-4.771,2.066-4.771,4.771c0,2.703,2.068,4.77,4.771,4.77h4.77
          c0.953,0,1.59,0.635,1.59,1.591c0,0.953-0.637,1.59-1.59,1.59h-4.77c-4.451,0-7.951-3.499-7.951-7.95
          C651.334,415.147,654.834,411.651,659.285,411.651z M560.703,414.831c0.955,0,1.59,0.637,1.59,1.59c0,0.954-0.635,1.59-1.59,1.59
          c-2.703,0.001-4.77,2.066-4.77,4.771c0,2.702,2.066,4.771,4.77,4.771c4.452,0,7.95,3.497,7.95,7.949
          c0,4.451-3.497,7.951-7.95,7.951c-0.954-0.001-1.59-0.638-1.59-1.59c0-0.955,0.636-1.59,1.59-1.591
          c2.703,0.001,4.771-2.067,4.771-4.771c0-2.702-2.067-4.77-4.771-4.77c-4.452,0-7.95-3.496-7.95-7.95
          C552.753,418.329,556.251,414.831,560.703,414.831z M719.705,414.831c4.452,0,7.95,3.498,7.949,7.95
          c0,4.453-3.498,7.949-7.949,7.949c-2.702,0-4.77,2.067-4.769,4.771c-0.001,2.704,2.065,4.771,4.769,4.771
          c0.954,0.001,1.591,0.635,1.591,1.591c0,0.951-0.637,1.59-1.591,1.59c-4.451,0-7.95-3.499-7.95-7.952
          c0.001-4.451,3.499-7.948,7.95-7.948c2.702,0,4.77-2.067,4.77-4.771c0-2.702-2.067-4.77-4.77-4.77c-0.954,0-1.59-0.636-1.59-1.591
          C718.115,415.468,718.751,414.831,719.705,414.831z M603.634,424.371h4.769c0.954,0,1.59,0.636,1.59,1.591
          c0,0.953-0.636,1.59-1.59,1.589h-4.77c-2.703,0.001-4.771,2.068-4.771,4.769c0,2.704,2.068,4.771,4.771,4.771
          c0.954-0.001,1.59,0.638,1.59,1.59c0,0.954-0.636,1.592-1.59,1.591c-4.452,0-7.95-3.498-7.95-7.951
          C595.684,427.869,599.182,424.371,603.634,424.371z M672.006,424.371h4.769c4.452,0,7.951,3.497,7.951,7.948
          c0,4.454-3.499,7.952-7.951,7.953c-0.952,0-1.59-0.638-1.59-1.592c0.001-0.952,0.637-1.59,1.59-1.591
          c2.703,0,4.771-2.066,4.771-4.771c0-2.701-2.067-4.769-4.771-4.768h-4.769c-0.955,0-1.593-0.637-1.593-1.59
          C670.413,425.006,671.051,424.371,672.006,424.371z M627.484,440.272c0.954,0,1.589,0.634,1.59,1.59c0,0.951-0.636,1.59-1.59,1.59
          c-4.453,0-7.95,3.497-7.95,7.949v15.899c0,4.452-3.498,7.95-7.95,7.95s-7.95-3.498-7.95-7.949c0-2.704-2.067-4.77-4.771-4.77
          c-0.954-0.001-1.589-0.637-1.589-1.591c0-0.954,0.636-1.591,1.589-1.59c4.453,0,7.95,3.499,7.95,7.95
          c0,2.702,2.067,4.769,4.77,4.769c2.704,0.001,4.77-2.065,4.771-4.769v-15.9C616.354,445.2,621.283,440.272,627.484,440.272z
          M652.924,440.271c6.201,0.001,11.131,4.929,11.131,11.13v15.9c0,2.702,2.067,4.769,4.769,4.769c2.704,0,4.771-2.065,4.772-4.769
          c0-4.451,3.497-7.951,7.949-7.95c0.955,0,1.59,0.635,1.59,1.59c0,0.954-0.635,1.591-1.59,1.591c-2.704,0-4.771,2.066-4.771,4.77
          c0,4.452-3.498,7.949-7.95,7.949c-4.451,0-7.949-3.497-7.95-7.949v-15.9c0-4.453-3.497-7.949-7.95-7.949
          c-0.953,0-1.59-0.638-1.59-1.59C651.334,440.907,651.97,440.271,652.924,440.271z M718.915,471.923
          c-3.978-0.477-7.157-3.816-7.157-7.95v-6.36c0-2.703-2.066-4.77-4.771-4.77c-2.701,0-4.77,2.066-4.77,4.77
          c0.001,0.955-0.636,1.589-1.59,1.589c-0.955,0.001-1.59-0.634-1.589-1.589c-0.001-4.453,3.496-7.95,7.949-7.95
          c4.451,0,7.95,3.496,7.949,7.95l0.001,6.36c0,2.702,2.066,4.77,4.771,4.77l1.093-0.001 M687.112,497.512
          c-3.974-0.477-7.154-3.814-7.154-7.95v-15.9c0-0.952,0.636-1.59,1.592-1.59c0.951,0,1.589,0.638,1.589,1.59v15.9
          c0,2.702,2.066,4.771,4.769,4.77c3.339,0.001,6.52-0.477,9.541-1.59 M559.41,468.895l1.292,0.001c2.704,0,4.77-2.066,4.77-4.769
          v-6.36c0-4.452,3.498-7.95,7.951-7.951c4.451,0.001,7.949,3.499,7.95,7.951c0,0.952-0.636,1.59-1.59,1.59
          c-0.955,0-1.59-0.637-1.591-1.59c0-2.704-2.066-4.771-4.769-4.771c-2.704,0-4.77,2.066-4.77,4.771l0,6.359
          c0,4.135-3.18,7.474-7.155,7.949L559.41,468.895z M582.962,492.896c3.021,0.952,6.201,1.591,9.54,1.59
          c2.704,0.001,4.771-2.067,4.77-4.771l0-15.898c0-0.956,0.637-1.59,1.59-1.591c0.956,0.001,1.59,0.635,1.59,1.591v15.898
          c0,4.135-3.18,7.484-7.155,7.802" />
        </g>
      </g>
      <g id="head">
        <path id="headBottom" d="M733.031,577.776l-0.087-0.346c-7.743-29.068-8.493-75.384,7.474-101.197
        c24.247-33.311,36.854-67.876,30.277-107.631c-1.187-9.785-3.367-15.033-3.367-15.033c-1.205-4.694-2.745-9.284-4.59-13.745
        c-0.449-1.082-0.92-2.153-1.405-3.219l-242.101,3.586c-7.535,16.931-10.042,33.047-6.686,44.051
        c2.986,9.793,3.319,11.703-4.439,24.46c-6.789,11.149-16.569,28.415-21.158,36.841c-0.876,1.626-1.253,3.484-1.253,5.451
        c0,6.019,4.611,10.953,10.49,11.466l1.755,0.004l18.833,0.09c-0.04,13.274-0.176,45.056-0.301,62.697l-0.001,1.231
        c0,10.769,8.556,19.536,19.248,19.862l36.822,0.044c16.361,0.001,23.402,5.591,25.997,18.755l2.771,12.633
        c0,0,14.19,59.724-47.31,108.474c0,0,76.5,79.25,149.5,32.25C773.469,673.451,741.562,611.053,733.031,577.776z" />
        <g id="headTop">
          <path d="M662.609,266.565l-41.499-0.183c-44.154,6.061-81.035,31.741-98.373,66.569
          c-1.269,2.422-2.438,4.839-3.506,7.24l242.101-3.586C744.851,300.347,707.627,273.182,662.609,266.565z" />
          <path id="headphones" d="M621.111,265.382l0,61.998c0,9.029,4.417,15.108,10.378,18.245v15.302
          c-24.844,4.84-43.599,26.721-43.599,52.983c0,29.812,24.163,53.978,53.98,53.977c29.812,0.001,53.979-24.165,53.977-53.976
          c0.002-26.271-18.76-48.153-43.615-52.987l-0.001-15.299c5.962-3.136,10.38-9.215,10.379-18.245l-0.001-61.814L621.111,265.382z
          M672.067,413.911c0,16.674-13.518,30.19-30.191,30.19c-16.675-0.001-30.192-13.517-30.192-30.191
          c0-16.674,13.518-30.191,30.191-30.191C658.55,383.719,672.066,397.235,672.067,413.911z" />
        </g>
      </g>
    </svg>
  </div>
</div>

<div style="background-image: url(<%= image_path'homepage_footer.png' %>); height: 270px; margin-top: -270px;"></div>






