<div class="applicant-page">
  <h1 class="applicant-title">Bridge for applicants</h1>
  <h3 class="applicant-text">Coding bootcamp courses are expensive but teach highly employable vocational skills. Rates of employment after bootcamp courses is high and these jobs are well paid. If you do not have the full amount for a course right now, but are motivated to get a good job using the skills aquired on the course, we can help. Through connecting you to a lending community who have often done the courses you are applying for, and who have money to invest, you can fund your place at a rasonable interest rate on mutually beneficial and flexible terms. We hope that once you have benefitted from this service you may also one day help someone in the same way!  </h3>
  <h3 class="applicant-text">If you need this service, welcome friend </h3>
  <%= link_to "Create an Account", new_user_registration_path(:user => { :applicant => true }), class: "btn btn-primary btn-homepage btn-justified" %>
</div>


