<div class="profile">
  <div class="avatar">
    <img class="avatar-large" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <br>
    <%= link_to 'edit profile', edit_user_registration_path, method: :edit, class: "" %>
  </div>

  <div>
    <h2>Kate Buxton</h2>
    <p>k8hunter@hotmail.com</p>
      <div class="stats">
        <p class="stat-item">1 loan maturing</p>
        <p class="stat-item">5 loan applications</p>
        <p class="stat-item">5 people invested in you</p>
      </div>
    <p>Motivation / About</p>
  </div>
  <%= link_to 'Create a loan', new_fundraising_event_path, class: "btn btn-danger" %>

  <%= link_to 'View outstanding loans', fundraising_events_path, class: "btn btn-danger" %>
</div>




















