<div class="container" id=homepage-center>
  <div class="banner-content">
    <h1 id="title">bridge.</h1>
    <div class="homepage">
      <div class="applicant">
        <h3 class="homepage-h3">Applicant</h3>
        <a class="btn btn-danger btn-homepage" href="/applicant_homepage">Go Now</a>
      </div>
      <div class="lender">
        <h3 class="homepage-h3">Lender</h3>
        <a class="btn btn-danger btn-homepage" href="/lender_homepage">Go Now</a>
      </div>
    </div>
    <h2 id=homepage-tagline>Connecting coding bootcamp applicants to a lending community.</h2>
  </div>
</div>


