<div class="applicant-page">
  <h1 class="applicant-title">bridge. information for lenders</h1>
  <p class="applicant-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae eveniet error, ipsum odio tenetur repellat sapiente officia? Voluptas tempora tenetur pariatur nesciunt amet deleniti veniam blanditiis, delectus, possimus ad accusantium!</p>
  <h3 class="applicant-text">If this site is for you create a profile [otherwise sign in through the navbar]</h3>
  <%= link_to "Create an Account", new_user_registration_path(:user => { :applicant => false }), class: "btn btn-primary btn-homepage btn-justified" %>
</div>

