<div class="container wrapper-homepage">
  <div class="application-item">
    <h1 class="homepage-tagline applicant-margin">Invest in Bridge.</h1>
    <h4 class="tagline title gap-about">Invest in something and someone meaningful. Bridge provides simple, secure lending with a fixed interest rate, at the click of a button.</h4>
      <div class="applicant-flex">
        <div class="dots">
          <%= image_tag "dots_2.png" %>
        </div>
        <div class="about">
          <p class="dots-text">By lending as little as £25 on Bridge, anyone can help a student kickstart a career in tech.</p>
          <p class="dots-text-two">The Government Personal Career Development Loan scheme is closing at the end of January 2019, leaving a void in finance options for further education.</p>
          <p class="dots-text-three">Provides a flexible solutions to lenders who wish to incorporate social targets into their investments.</p>
          <p class="dots-text">In a prolonged climate of financial volatility, Bridge provides meaningful and guaranteed returns to investors.</p>
        </div>
      </div>
        <h1 class="homepage-tagline apply-now-margin-left apply-now-margin-top">Apply now.</h1>
        <h4 class="tagline title gap-about apply-now-margin-left">Learn. Earn. Return.</h4>
        <p class="apply-text apply-now-margin-text apply-now-margin-left">If you have been on a coding bootcamp or are working in tech, you could be earning a return on your capital through lending small amounts of money to motivated applicants who want to do bootcamp courses but cannot afford them right now. If this sounds like something you are interested in, create an account to view the applicants who you could help with funding.</p>
        <%= link_to "Create an account", new_user_registration_path(:user => { :applicant => false }), class: "btn btn-primary button-edit-page apply-now-margin-left apply-now-margin-bottom" %>

  </div>

  <%= render 'shared/brain' %>
</div>

<div style="background-image: url(<%= image_path'applicant_footer.png' %>); height: 600px; margin-top: -570px; background-size: cover; "></div>
