<div class="applicant-page">
  <h1 class="applicant-title">Bridge for lenders</h1>
  <h3 class="applicant-text">If you have been on a coding bootcamp or are working in tech, you could be earning a return on your capital through lending small amounts of money to motivated applicants who want to do bootcamp courses but cannot afford them right now. </h3>
  <h3 class="applicant-text">If this sounds like something you are interested in, create an account to see the applicants who you could help with funding.</h3>
  <%= link_to "Create an Account", new_user_registration_path(:user => { :applicant => false }), class: "btn btn-primary btn-homepage btn-justified btn-show" %>
</div>

