<div class="repayment">
  <h1>Repayment receipt</h1>
    <h4>Status | <%= @repayment.state %></h4>
    <h4>Item | <%= @repayment.fundraising_event_sku %></h4>
    <h4>Amount | <%= humanized_money_with_symbol(@repayment.amount) %></h4>
    <br>
  <%= link_to "Back to Dashboard", dashboard_path, class: 'btn btn-homepage btn-primary btn-loan' %>
</div>
