<h1>Loan Requests:</h1>

<% @fundraising_events.each do |fundraising_event| %>
  <p><%= fundraising_event.course %></p>
<% end %>


<div class="container" id="homepage-cards">
    <div class="row">
      <% @fundraising_events.each do |f| %>
        <div class="col-xs-6 col-sm-4">
          <%= render "shared/_loan_card", fundraising_event: f %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Back to dashboard', applicant_dashboard_path, class: "btn btn-secondary" %>
