<h1>Loan Requests:</h1>

<% @fundraising_events.each do |fundraising_event| %>
  <p><%= fundraising_event.course %></p>
<% end %>

<%= link_to 'Back to dashboard', applicant_dashboard_path, class: "btn btn-secondary" %>
