.repayment {
margin-top: 10%;
text-align: center;
display: block;
}
.repay_amount_field {
  color: white;
  border-radius: 7px;
  background: black;
  transition: background 0.3s ease;
  width: 600px;
  height: 100px;
  margin: auto;
  padding: 24px 16px;

