/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
}
.alert-info {
  background: #335F7A;
  font-family: 'Assistant', sans-serif !important;
}
.alert-warning {
  background: #335F7A;
  font-family: 'Assistant', sans-serif !important;
}
