.applicant-image {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.avatar-button {
  background-image: url(...);
  background-repeat: no-repeat;
}
.debtor-name {
  font-size: 16px;
  position: absolute;
  left: 160px;
  color: black !important;
}
.course-detail {
  font-size: 16px;
  position: absolute;
  left: 120px;
  top: 30px;
  width: 100%;
  color: black !important;
}
.counter-lender {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 15px;
  left: 120px;
}
.fund-card-text-top {
  font-size: 14px !important;
  margin-left: 5px;
  margin-top: 20px;
}
.background {
  background-color: rgb(245, 245, 245);
}
.no-button-border {
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}
.width-lender-card {
  flex-basis: 70%;
}
.width-loan {
  flex-basis: 15%;
  text-align: center;
}
.margin-width-loan {
  margin-top: 22px;
}
.orange-counter-loan a {
  color: #084887;
  margin-left: 0px;
}
.card {
  height: 150px;
  // width: 75%;
  margin: 20px;
  background-color: white;
  position: relative;
  box-shadow: 1px 1px 1px 1px rgba(150,150,150,0.3);
  display: flex;
  justify-content: space-between;
}
.repayment-card {
  height: 150px;
  margin: 20px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.counter {
  display: flex;
  position: absolute;
  left: 20px;
  bottom: 20px;
  justify-content: space-between;
}
.course-name {
  font-size: 16px;
  position: absolute;
  left: 20px;
  color: black;
}
.course-start {
  font-size: 16px;
  position: absolute;
  left: 20px;
  top: 35px;
  color: black;
}
.cost {
  font-size: 56px;
  text-weight: 600px;
  position: absolute;
  right: 20px;
  top: 30px;
}
.counters {
  font-size: 16px;
  flex-basis: 20%;
  color: grey;
}
.orange-counter {
  font-size: 16px;
  flex-basis: 5%;
  color: black;
  margin: 0 30px 0 0px;
  width: 100px;
  font-weight: bold;
}
.green-counter {
  display: inline-block;
  font-size: 16px;
  flex-basis: 5%;
  color: black;
  margin: 0 10px;
  min-width: 100px;
  font-weight: bold;
}
.margin-width-loan {
  margin-top: 22px;
}
.text-dec-none {
  text-decoration: none !important;
}
.applicant-card-hover {
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.4)
  }
}
.card a {
  text-decoration: none !important;
}
.lender-card-hover {
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(150, 150, 150, 0.4)
  }
}
.avatar-lender {
  flex-basis: 15%;
  text-align: center;
  padding-right: 40px;
}
.course-detail {
  font-size: 16px;
  position: absolute;
  left: 160px;
  top: 30px;
  width: 100%;
  color: black !important;
}
.loan-os {
  font-size: 28px;
  font-weight: 800 !important;
  margin: 25px 40px 10px 0;
  color: #335F7A !important;
}
.outstanding {
  font-size: 16px;
  text-weight: 600px;
  margin-top: 0px;
  color: black !important;
  margin-right: 20px;
}
.amount-left {
  font-size: 56px;
  text-weight: 600px;
}
.avatar-small {
  width: 60px;
  border-radius: 50%;
  margin-top: 20px;
}
.avatar-medium {
  width: 110px;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
}
.width-lender-card {
  flex-basis: 70%;
}
.width-loan {
  flex-basis: 15%;
  text-align: center;
}
.counter-lender {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 15px;
  left: 140px;
}
.lender-counters {
  font-size: 12px !important;
  flex-basis: 15%;
  margin: 0px;
  color: black !important;
  padding-top: 3px;
}
// Complete Status
.complete-border {
  // border: 1px solid rgba(0, 128, 0, 0.6) !important;
  box-shadow: 1px 1px 1px 1px rgba(0, 128, 0, 0.6) !important;
}
.complete-hover {
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(0, 128, 0, 0.6) !important;
  }
}
// Incomplete Status
.incomplete-border {
  box-shadow: 1px 1px 1px 1px rgba(255, 0, 0, 0.5) !important;
}
.incomplete-hover {
  &:hover {
    box-shadow: 2px 2px 2px 2px rgba(255, 0, 0, 0.5) !important;
  }
}
