.applicant-image {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
.avatar-button {
  background-image: url(...);
  background-repeat: no-repeat;
}
.debtor-name {
  font-size: 16px;
  position: absolute;
  left: 120px;
  color: black !important;
}
.course-detail {
  font-size: 16px;
  position: absolute;
  left: 120px;
  top: 30px;
  width: 100%;
  color: black !important;
}
.counter-lender {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 15px;
  left: 120px;
}
.fund-card-text-top {
  font-size: 14px !important;
  margin-left: 5px;
  margin-top: 20px;
}
.background {
  background-color: rgb(245, 245, 245);
}
.no-button-border {
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
}
.width-lender-card {
  flex-basis: 70%;
}
.width-loan {
  flex-basis: 15%;
  text-align: center;
}
.orange-counter-loan a {
  color: #084887;
  margin-left: 0px;
}
